doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        driver: 'pdo_pgsql'
        server_version: '16'
        charset: utf8

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true

        types:
            uuid_vo: App\SharedKernel\Infrastructure\Persistence\Doctrine\Type\UuidType
            email_vo: App\SharedKernel\Infrastructure\Persistence\Doctrine\Type\EmailType
            created_at_vo: App\SharedKernel\Infrastructure\Persistence\Doctrine\Type\CreatedAtType
            post_title: App\Api\Infrastructure\Persistence\Doctrine\Type\PostTitleType
            post_content: App\Api\Infrastructure\Persistence\Doctrine\Type\PostContentType
            post_status: App\Api\Infrastructure\Persistence\Doctrine\Type\PostStatusType
            user_role: App\Api\Infrastructure\Persistence\Doctrine\Type\UserRoleType
            comment_content: App\Api\Infrastructure\Persistence\Doctrine\Type\CommentContentType
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            Api:
                type: xml
                dir: '%kernel.project_dir%/config/doctrine'
                prefix: 'App\Api\Domain'
                alias: Api
                is_bundle: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
